@import "_nullstyle";
$blue: #033977;

@font-face {
	font-family: 'Calibri';
	src: url('../fonts/CALIBRI.woff') format('woff'), url('../fonts/CALIBRI.woff2') format('woff2'), url('../fonts/CALIBRI.ttf') format('truetype'), url('../fonts/CALIBRI.otf') format('OpenType');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'Calibri';
	src: url('../fonts/CALIBRIB.woff') format('woff'), url('../fonts/CALIBRIB.woff2') format('woff2'), url('../fonts/CALIBRIB.ttf') format('truetype'), url('../fonts/CALIBRIB.otf') format('OpenType');
	font-weight: 700;
	font-style: normal;
}
@font-face {
	font-family: "Century Gothic";
	src: url('../fonts/GOTHIC.woff') format('woff'), url('../fonts/GOTHIC.woff2') format('woff2'), url('../fonts/GOTHIC.TTF') format('truetype'), url('../fonts/GOTHIC.otf') format('OpenType');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: "Century Gothic";
	src: url('../fonts/GOTHICB.woff') format('woff'), url('../fonts/GOTHICB.woff2') format('woff2'), url('../fonts/GOTHICB.TTF') format('truetype'), url('../fonts/GOTHICB.otf') format('OpenType');
	font-weight: 700;
	font-style: normal;
}

body {
	display: flex;
	align-items: center;
	justify-content: center;
	background: #eceeef;
	padding: 0 15px;
}
.login {
	overflow: hidden;
	border-radius: 15px;
	box-shadow: 0px 22px 76px 0px rgba(159, 159, 159, 0.44);
	-webkit-animation: scaling .5s ease-in-out 0s 1 alternate both;
	        animation: scaling .5s ease-in-out 0s 1 alternate both;
	  
	&__header {
		height: 200px;
		background:linear-gradient(rgba($blue, .75),rgba($blue, .75)), url("/login/img/bg/duet_background.jpg") center/cover no-repeat;
	}

	&__image {
		width: 80px;
		height: 40px;
		margin: 0 auto 50px auto;
		padding: 40px 0 0 0;

		img {
			width: 80px;
			height: 40px;
		}
	}

	&__text {
		text-align: center;

		p {
			font-family: "Century Gothic";
			font-size: 48px;
			font-weight: 700;
			color: #ffffff;
		}
	}

	&__body {
		background: #ffffff;
		padding: 48px;
	}

	&__row {
		display: flex;
		flex-direction: column;
	}

	&__userenter {
		p {
			padding: 10px;
			font-family: "Calibri";
			font-size: 24px;
			font-weight: 700;
			color: #909090;
			flex: 1 0 100px;
		}

		input {
			background: #f1f1f1;
			padding: 0 10px;
			color: #041548;
			font-size: 24px;
			height: 40px;
			border-bottom: 2px solid #cfcfcf;			
			border-radius: 3px 3px 0 0;

			&:invalid {
				border-color: red;
			}
			
			&::placeholder {
				color: #808080;
			}
		}
	}

	&__username {
		display: flex;
		justify-content: space-between;
		margin: 0 0 30px 0;
		&_success {
			input {
				border-color: green;
			}
		}
	}

	&__userpass {
		display: flex;
		justify-content: space-between;
		position: relative;
		// &_eye::after {
		// 	content: '';
		// 	background: url("/img/icons/eye.png") no-repeat;
		// 	width: 30px;
		// 	height: 20px;
		// 	position: absolute;
		// 	top: 10px;
		// 	right: 10px;
		// 	cursor: pointer;
		// }
		img {
			width: 30px;
			height: 20px;
			position: absolute;
			top: 10px;
			right: 10px;
			cursor: pointer;
		}
		//  &_eye-dis::after {
		// 	content: '';
		// 	background: url("/img/icons/eye-dis.svg") no-repeat;
		// 	width: 30px;
		// 	height: 20px;
		// 	position: absolute;
		// 	top: 10px;
		// 	right: 10px;
		// 	cursor: pointer;
		// }
		&_success {
			input {
				border-color: green;
			}
		}
	}


	&__btn {
		
		button {
			background: $blue;
			width: 100%;
			padding: 10px;
			border-radius: 10px;
			display: flex;
			justify-content: center;
			margin-top: 40px;
			cursor: pointer;
			align-items: center;
			font-family: "Calibri";
			font-size: 30px;
			font-weight: 700;
			color: #ffffff;
			&::after {
				content: '';
				position: relative;
				top: 3px;
				margin-left: 10px;
				background: url("/login/img/icons/arrow.png") no-repeat;
				width: 30px;
				height: 25px;				
			}
			&:focus {
				box-shadow: 0 0 0 3px rgba($blue, .5);
			}
		}
	}
}
.errors-container {
	position: fixed;
	right: 0;
	bottom: 0;
	max-height: 100vh;
	max-width: 320px;
	width: 100%;
	padding: 0 15px;
	overflow-y: auto;
	display: flex;
	flex-wrap: wrap;
	overflow-x: hidden;
 }
 .errors-container .error-toast {
	align-self: flex-end;
	margin-bottom: 15px;
	overflow: hidden;
	width: 100%;
	font-family: sans-serif;
	line-height: 1.5;
	background-color: #c62828;
	color: white;
	border-radius: 8px;
	-webkit-animation: show_toast 0.2s linear 1 alternate both, delete_toast 0.2s linear 5s 1 alternate both;
			  animation: show_toast 0.2s linear 1 alternate both, delete_toast 0.2s linear 5s 1 alternate both;
 }
 .errors-container .error-toast .error-progress {
	background-color: #9c1f1f;
	height: 4px;
	transition: all 0.1s linear;
 }
 .errors-container .error-toast .error-text {
	padding: 10px;
	font-size: 14px;
 }

 @keyframes show_toast {
	from {
	  transform: translatex(100%);
	}
	to {
	  transform: translatex(0%);
	}
 }

 @keyframes delete_toast {
	from {
	  opacity: 1;
	}
	to {
	  opacity: 0;
	}
 }

.container {
	max-width: 553px;
	margin: 0 auto;
}




/* Laptops 1440px width */
/* @media screen and (max-width:1440px) {
} */

/* Mini-Laptops 992px width */
/* @media screen and (max-width:992px) {
} */

/* Talet 768px width */
@media screen and (max-width:768px) {
	.container {
		max-width: 100%;
	}
	.login {
		width: 70%;
		&__text {
			p {
				font-size: 42px;
			}
		}
		&__body {
			padding: 25px;
		}
		&__header {
			height: 150px;
		}

		&__image {
			margin: 0 auto 35px auto;
			padding: 20px 0 0 0;
		}

		&__userenter {
			p {
				font-size: 18px;
				flex: 1 1 auto;
				padding: 0 0 5px 2px;
			}

			input {
				font-size: 16px;
			}
		}

		&__username {
			flex-direction: column;
		}

		&__userpass {
			flex-direction: column;

			img {
				top: 34px;
			}
		}


		&__btn {
			button {
				font-size: 24px;
				&::after {
					top: 2px;
				}
			}
		}
	}
}

@-webkit-keyframes scaling {
	from {transform: scale(0);} 
	40% {
		transform: scale(1);
	}
	70%{
		transform: scale(.75);
	}
	to {transform: scale(1);}
}

@keyframes scaling {
	from {transform: scale(0);} 
	40% {
		transform: scale(1);
	}
	70%{
		transform: scale(.75);
	}
	to {transform: scale(1);}
}

/* Smartphones 576px width */
@media screen and (max-width:576px) {

	.login {
		width: 100%;
		&__userenter {
			p {
				font-size: 16px;
			}

			input {
				font-size: 14px;
			}
		}
		&__body {
			padding: 15px;
	}
	&__userpass {
		img {
			top: 32px;
		}
	}
}

}

/* Mobile 340px width */
@media screen and (max-width:340px) {
}
